.home-hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: calc(100vh - 80px);
  img {
    position: absolute;
    right: 0;
    transform: translateY(20%);
    height: 75%;
    filter: opacity(90%);
  }
}

.home-hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin-bottom: 150px;
  z-index: 1;
}
.home-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(254, 250, 224, 0.7);
  padding: 20px;
  h2 {
    margin: 0;
    font-size: clamp(24px, 2.8vw, 44px);
    font-weight: normal;
    color: $site-color-green;
    text-align: center;
  }
}

.carousel-container-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.carousel-text {
  color: white;
  font-size: 45px;
}



@media only screen and (max-width: 769px){
  .home-hero-overlay {
    width: 100%;
  }
  .home-hero-text {
    h2 {
      font-size: clamp(28px, 2.8vw, 44px);
    }
  }
}

@media only screen and (max-width: 426px){
  .home-hero-section {
    height: calc(80vh - 80px);
    img {
      width: 200vw;
      height: auto;
      overflow: hidden;
    }
  }
  .home-hero-overlay {
    width: 100%;
  }
  .home-hero-text {
    background-color: rgba(254, 250, 224, 0.8);
    h2 {
      font-size: clamp(20px, 2.8vw, 44px);
    }
  }
}


// Map Styles are under the map.scss page
// Testimonials Styles are under the testimonianls.scss page